.box1 {
  background-color: #fc6;
}
.box1 p {
  background-color: #fc6;
}

.box1_2 {
  background-color: #fc6;
}

.box1_2 p {
  background-color: #fc6;
  display: inline-block;
  width: 150px;
  height: 50px;
}

.box1_3 {
  background-color: #fc6;
  display: inline;
  width: 150px;
  height: 50px;
}

.box2 {
  background-color: red;
}
.box2 span {
  background-color: #fcc;
}

.box2_1 {
  background-color: red;
}
.box2_1 span {
  background-color: #fcc;
  display: block;
  width: 150px;
  height: 50px;
}

.box3 {
  background: orange;
  margin-top: 10px;
  height: 50px;
}

.box3 span {
  background: #fcc;
  height: 50px;
  width: 150px;
  display: none;
}
