@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

.box1 p {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  margin: 30px;
}

.box1 .box1_1 {
  overflow: hidden;
}
.box1 .box1_3 {
  overflow: scroll;
}

.box2 p {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  margin: 10px;
}

.box2 .box2_2 {
  border-radius: 20px 0px;
}

.box3 p {
  width: 300px;
  height: 80px;
  background-color: skyblue;
  margin: 20px;
}

.box3 .box3_1 {
  padding: 20px;
  box-sizing: content-box;
}
.box3 .box3_2 {
  padding: 20px;
  box-sizing: border-box;
}

.box4 {
  background-color: skyblue;
  width: 200px;
  height: 200px;
  position: relative;
}

.box4 p {
  width: 80px;
  height: 80px;
  position: absolute;
}

.box4 .box4_1 {
  background-color: red;
}
.box4 .box4_2 {
  background-color: yellow;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.box4 .box4_3 {
  background-color: blue;
  top: 40px;
  left: 40px;
}
